<div>
<div class="form-group has-feedback" ng-class="formName.firstName.$valid ? 'has-success' : (formName.firstName.$pristine ? '' : 'has-error')">
                <label class="control-label" for="firstName">First Name:</label>
                <input id="firstName" name="firstName" type="text" ng-model="customer.firstName" class="form-control" required />
                <span class="glyphicon form-control-feedback" ng-class="formName.firstName.$valid ? 'glyphicon-ok' : (formName.firstName.$pristine ? '' : 'glyphicon-remove')"></span>
            </div>
            <div class="form-group has-feedback" ng-class="formName.lastName.$valid ? 'has-success' : (formName.lastName.$pristine ? '' : 'has-error')">
                <label class="control-label" for="lastName">Last Name:</label>
                <input id="lastName" name="lastName" type="text" ng-model="customer.lastName" class="form-control" required />
                <span class="glyphicon form-control-feedback" ng-class="formName.lastName.$valid ? 'glyphicon-ok' : (formName.lastName.$pristine ? '' : 'glyphicon-remove')"></span>
            </div>
            <div class="form-group has-feedback" ng-class="formName.companyName.$valid ? 'has-success' : (formName.companyName.$pristine ? '' : 'has-error')">
                <label class="control-label" for="companyName">Company Name:</label>
                <input id="companyName" name="companyName" type="text" ng-model="customer.company" class="form-control" required />
                <span class="glyphicon form-control-feedback" ng-class="formName.companyName.$valid ? 'glyphicon-ok' : (formName.companyName.$pristine ? '' : 'glyphicon-remove')"></span>
            </div>
            <div class="form-group has-feedback" ng-class="formName.address.$valid ? 'has-success' : (formName.address.$pristine ? '' : 'has-error')">
                <label class="control-label" for="address">Address:</label>
                <input id="address" name="address" type="text" ng-model="customer.address" class="form-control" required />
                <span class="glyphicon form-control-feedback" ng-class="formName.address.$valid ? 'glyphicon-ok' : (formName.address.$pristine ? '' : 'glyphicon-remove')"></span>
            </div>
            <div class="form-group has-feedback" ng-class="formName.email.$valid ? 'has-success' : (formName.email.$pristine ? '' : 'has-error')">
                <label class="control-label" for="email">E-mail:</label>
                <input id="email" name="email" type="email" ng-model="customer.emailAddress" class="form-control" required />
                <span class="glyphicon form-control-feedback" ng-class="formName.email.$valid ? 'glyphicon-ok' : (formName.email.$pristine ? '' : 'glyphicon-remove')"></span>
            </div>
            <button id="save-btn" class="btn btn-success" ng-disabled="formName.$invalid">Save <span class="glyphicon glyphicon-ok"></span></button></div>